<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Default config and other properties -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="logs/spring.log"/>

    <!-- Profile independent loggers -->
    <logger name="com.luisenricke" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>

    <!-- Development profile -->
    <springProfile name="dev">
        <appender name="APPENDER" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <logger name="org.springframework.security" level="DEBUG"/>
    </springProfile>

    <!-- Staging/production profile -->
    <springProfile name="prod">
        <appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d</fileNamePattern>
                <maxHistory>20</maxHistory>
            </rollingPolicy>
        </appender>
    </springProfile>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="APPENDER"/>
    </root>
</configuration>
